* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-clearance {
  width: 250px;
}

body {
  overflow: hidden;
  margin: 0;
  font-family: 'Limelight', sans-serif;
  text-rendering: optimizeLegibility;
  background-color: rgb(255, 255, 255);
  font-family: 'Gothic A1', sans-serif;
}

.main-section {
  background-color: rgb(255, 255, 255);
  padding: 2em 0 2em 0;
  box-shadow: 5px 3px 8px #aaa, inset 5px 5px 2px 3px #fff;
}

.well {
  position: relative;
  overflow: hidden;
  transition: 1s cubic-bezier(0.5, 0, 0.5, 1);
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  overflow: hidden;
  background-color: #333;
  z-index: 20;
  height: 130px;
}

.nav-clearance {
  font-size: 1em;
  width: 500px;
  text-align: right;
  display: flex;
  align-items: center;
  flex-direction: row;
}

a {
  color: black;
  font-size: 2em;
}
a:hover {
  color: rgba(0, 0, 0, 0.562);
}

p {
  font-size: 1em;
}

figcaption {
  top: -20px;
  position: relative;
  background-color: #e7e7e7;
  opacity: 50%;
}

.main-section {
  display: flex;
  flex-direction: row;
  margin-top: 3em;
}

.flex {
  display: flex;
}

.flex-columns {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

label {
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
}

label span:before,
label span:after {
  content: '';
}
input {
  display: none;
}

label span {
  position: relative;
  line-height: 22px;
}

label span:before {
  border-radius: 50%;
  border: 5px solid #222021;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: top;
}

label span:after {
  border-radius: 50%;
  background: #222021;
  width: 30px;
  height: 30px;
  position: absolute;
  top: -3px;
  left: 0px;
  transition: 300ms;
  opacity: 0;
}

header {
  display: flex;
}

.name {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
}

h1 {
  font-family: 'Do Hyeon', sans-serif;
  font-size: 5em;
  margin-bottom: -25px;
}

h2 {
  font-family: 'Do Hyeon', sans-serif;
  font-size: 3em;
}

h3 {
  font-family: 'Do Hyeon', sans-serif;
  font-size: 5em;
  padding: 0;
}

button {
  min-width: 190px;
  padding: 1em;
  font-size: 2rem;
  border-radius: 20px;
  color: rgb(0, 0, 0);
  font-family: 'Do Hyeon', sans-serif;
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
  margin-right: 1em;
  transition: 0.5s linear color background-color;
  transition: 0.5s linear background-color;
}

button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.cart:hover i {
  color: rgb(34, 201, 70);
}

.wishlist:hover i {
  color: rgb(253, 0, 0);
}

button i {
  margin: 5px;
  font-size: 3rem;
  transition: 0.5s linear color;
}

.cart {
}

.wishlist {
  background-color: white;
  padding: 0.7em;
}

span.color-black:after {
  background: #1d1d1f;
  width: 30px;
  height: 30px;
}
/* span.color-black:before {
  border: 5px solid #1d1d1fd3;
} */
span.color-blue:after {
  background: #1506eb;
  width: 30px;
  height: 30px;
}
/* span.color-blue:before {
  border: 5px solid #1506eb;
} */
span.color-red:after {
  background: #eb0606;
  width: 30px;
  height: 30px;
}
/* span.color-red:before {
  border: 5px solid #eb0606;
} */
span.color-pink:after {
  background: #bd06eb;
  width: 30px;
  height: 30px;
}
/* span.color-pink:before {
  border: 5px solid #bd06eb;
} */

label input:checked + span:after {
  opacity: 1;
}

.panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 200px;
  padding-bottom: 150px;
  height: 100vh;
  width: 100%;
  overflow: hidden;

  box-sizing: border-box;

  cursor: default;
}

.content {
  display: flex;
  flex-direction: column;
}

.first-info {
  font-size: 2em;
  max-width: 650px;
  padding-left: 1em;
}

.content-image {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  padding: 2em;
  padding-top: 0em;
}

img {
  border-radius: 10px;
}

ul {
  padding: 2em;
}

li {
  padding: 0.3em;
}

.free-shipping {
  font-family: 'Do Hyeon', sans-serif;
  font-size: 1.8em;
  transform: rotate(-35deg);
  font-weight: bold;
  font-weight: bolder;
  position: absolute;
  left: 390px;
  background-color: #f7f7f7;
  background-image: -webkit-linear-gradient(top, #795df7, #5d7cc0);
  color: #000000;
  margin: 36px;
  width: 120px;
  height: 120px;

  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
}

ul {
  list-style: none;
}

.price {
  z-index: 6;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 4em;
  font-weight: bolder;
  position: absolute;
  left: 500px;
  background-color: #f7f7f7;
  background-image: -webkit-linear-gradient(top, #e48f8f, #ff00009d);
  color: #000000;
  margin: 36px;
  width: 144px;
  height: 144px;

  text-align: center;
  line-height: 144px;
  border-radius: 50%;
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
}

.sizes {
  min-width: 100px;
}

.colors {
  min-width: 200px;
}

.space-between {
  justify-content: space-between;
}
