doctype html 
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='description', content='Some description')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel="stylesheet" href="style.css")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css")


    h1 Increase the <i>font-size</i> of the pattern container (<span class="current-font-size"></span>)    
    p Scalable pattern created with one-ish CSS element 
    input(type="range" id="size" name="size" min="5" max="100" value="16" step="1")    
    body      

        .temp-1-container
            - let b = 0
            while b < 1600
                - b++
                .square 
                



    script(src="../index.js")