:root {
  --YOffset: -50%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: rgb(235, 205, 205);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  height: 100vh;
  box-sizing: border-box;
}

#container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border: 1px solid blue; 
  height: 100vh;
  min-height:600px;
  max-width: 1000px;
  min-width: 800px;
}

#slice {
  // border: 1px solid rgb(150, 69, 99);
  flex: 1;
  justify-content: center;
  align-items: stretch;
  display: flex;
  position: relative;
}

#text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

#slider {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid rgb(255, 136, 0);
  height: 100%;
  min-width: 20%;
  min-height: 100px;
  top: 50%;
  
  transform: translateY(-50%);
  font-size: 3rem;
  margin: 0 auto;
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor: pointer;
}

#slider:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}


template {
    background-color: rgb(61, 42, 165); 
}